spring:
  application:
    name: mental-math-api

  profiles:
    active: prod

  datasource:
    url: jdbc:postgresql://localhost:5432/mentalmath
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

  jackson:
    serialization:
      write-dates-as-timestamps: false
    default-property-inclusion: non_null

server:
  servlet:
    context-path: /

logging:
  level:
    root: INFO
    uz.mentalmath: DEBUG
    org.hibernate.SQL: DEBUG
